@media (-webkit-max-device-width: 350px),(max-device-width: 350px)
  .shopCartContent .shopCart .content .content-left .logo-wrapper
    width: 44px !important
    height: 44px !important
    line-height: 44px !important
  .shopCartContent .shopCart .content .content-left .logo-wrapper .logo
    font-size: 20px !important
    line-height: 36px !important
  .shopCartContent .shopCart .content .content-right
    flex 0 0 90px !important
  // 详情页
  .header .detail .detail-wrapper .detail-main
    padding-top 2px !important
  .header .detail .detail-close
    bottom: -2px !important




