.goods
  .menu-wrapper
    & > ul
      .menu-item
        font-size 12px
        color rgb(240, 20, 20)
        font-weight: 200
        line-height: 14px

      .menu-item-selected
        font-size 12px
        color rgb(240, 20, 20)
        line-height 14px
